colorama
ffmpeg
soundfile
librosa
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
faster-whisper

x-transformers
peft
jieba
fast_langdetect
split_lang
cn2an
pypinyin
jieba_fast
sounddevice
pyopenjtalk
wordsegment
g2p_en
pydub